DROP DATABASE [QL_NhaHang]
USE [QL_NhaHang]
GO
/****** Object:  Database [QL_NhaHang]    Script Date: 6/12/2018 10:42:26 AM ******/
CREATE DATABASE [QL_NhaHang]

 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NhaHang', FILENAME = N'D:\NhậtKun\IT\QL_NhaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_NhaHang_log', FILENAME = N'D:\NhậtKun\IT\QL_NhaHang_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/*ALTER DATABASE [QL_NhaHang] SET DELAYED_DURABILITY = DISABLED */
GO
USE [QL_NhaHang]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MaB] [int] IDENTITY(1,1) NOT NULL,
	[MaKV] [int] NULL,
	[MaPD] [int] NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGTHUCMA]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUCMA](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaMA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_CONGTHUC]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CONGTHUC](
	[MaCT] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[KhoiLuong] [float] NULL,
	[DVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DICHVU]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DICHVU](
	[MaDV] [int] NOT NULL,
	[MaPH] [int] NOT NULL,
	[ThoiGian] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC,
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_MONAN]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MONAN](
	[MaMA] [int] NOT NULL,
	[MaPD] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC,
	[MaPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUGIAOHANG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUGIAOHANG](
	[MaMA] [int] NOT NULL,
	[MaPGH] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC,
	[MaPGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MaPN] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuong] [float] NULL,
	[DonGiaNhap] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[DVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[VAT] [float] NULL,
	[ThanhToan] [float] NULL,
	[MaPD] [int] NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SoCMND] [int] NULL,
	[DiemTichLuy] [int] NULL,
	[MaLKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MaKV] [int] IDENTITY(1,1) NOT NULL,
	[TenKV] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKH]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKH](
	[MaLKH] [int] IDENTITY(1,1) NOT NULL,
	[TenLKH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLP] [int] IDENTITY(1,1) NOT NULL,
	[TenLP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MaManHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONAN](
	[MaMA] [int] IDENTITY(1,1) NOT NULL,
	[TenMA] [nvarchar](50) NULL,
	[Gia] [float] NULL,
	[DVT] [nvarchar](50) NULL,
	[MaNMA] [int] NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCC]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoatDong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG](
	[MaNhomNguoiDung] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nvarchar](50) NULL,
	[DVT] [nvarchar](50) NULL,
	[MaNCC] [int] NULL,
	[HinhAnh] [image] NULL,
	[KLTon] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[HinhAnh] [image] NULL,
	[TenDangNhap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unique] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMMA]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMMA](
	[MaNMA] [int] IDENTITY(1,1) NOT NULL,
	[TenNMA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MaNhomNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaNhomNguoiDung] [int] NOT NULL,
	[MaManHinh] [int] NOT NULL,
	[CoQuyen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDATMON]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATMON](
	[MaPD] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NULL,
	[GioDat] [time](7) NULL,
	[SoLuong] [int] NULL,
	[TienCoc] [float] NULL,
	[MaKH] [int] NULL,
	[HetHan] [date] NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDATVE]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATVE](
	[MaPDV] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [date] NULL,
	[GioDat] [time](7) NULL,
	[MaKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MaPGH] [int] IDENTITY(1,1) NOT NULL,
	[TongTien] [float] NULL,
	[MaPDV] [int] NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[MaNCC] [int] NULL,
	[MaNV] [int] NULL,
	[GioLap] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPH] [int] IDENTITY(1,1) NOT NULL,
	[TenPH] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
	[MaLP] [int] NULL,
	[MaKV] [int] NULL,
	[MaPD] [int] NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD FOREIGN KEY([MaKV])
REFERENCES [dbo].[KHUVUC] ([MaKV])
GO
ALTER TABLE [dbo].[BAN]  WITH CHECK ADD FOREIGN KEY([MaPD])
REFERENCES [dbo].[PHIEUDATMON] ([MaPD])
GO
ALTER TABLE [dbo].[CONGTHUCMA]  WITH CHECK ADD FOREIGN KEY([MaMA])
REFERENCES [dbo].[MONAN] ([MaMA])
GO
ALTER TABLE [dbo].[CT_CONGTHUC]  WITH CHECK ADD FOREIGN KEY([MaCT])
REFERENCES [dbo].[CONGTHUCMA] ([MaCT])
GO
ALTER TABLE [dbo].[CT_CONGTHUC]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MaPH])
REFERENCES [dbo].[PHONG] ([MaPH])
GO
ALTER TABLE [dbo].[CT_MONAN]  WITH CHECK ADD FOREIGN KEY([MaMA])
REFERENCES [dbo].[MONAN] ([MaMA])
GO
ALTER TABLE [dbo].[CT_MONAN]  WITH CHECK ADD FOREIGN KEY([MaPD])
REFERENCES [dbo].[PHIEUDATMON] ([MaPD])
GO
ALTER TABLE [dbo].[CT_PHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaPGH])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MaPGH])
GO
ALTER TABLE [dbo].[CT_PHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaMA])
REFERENCES [dbo].[MONAN] ([MaMA])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYENLIEU] ([MaNL])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaPD])
REFERENCES [dbo].[PHIEUDATMON] ([MaPD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MaLKH])
REFERENCES [dbo].[LOAIKH] ([MaLKH])
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD FOREIGN KEY([MaNMA])
REFERENCES [dbo].[NHOMMA] ([MaNMA])
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NHANVIEN] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([MaNhomNguoiDung])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhomNguoiDung])
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[NGUOIDUNG] ([TenDangNhap])
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[MANHINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MaNhomNguoiDung])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MaNhomNguoiDung])
GO
ALTER TABLE [dbo].[PHIEUDATMON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUDATVE]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD FOREIGN KEY([MaPDV])
REFERENCES [dbo].[PHIEUDATVE] ([MaPDV])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAOHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIAOHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MaKV])
REFERENCES [dbo].[KHUVUC] ([MaKV])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LOAIPHONG] ([MaLP])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MaPD])
REFERENCES [dbo].[PHIEUDATMON] ([MaPD])
GO
/****** Object:  StoredProcedure [dbo].[cap_nhat_theo_nguyen_lieu]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[cap_nhat_theo_nguyen_lieu] 
@SL int =NULL,
@MaMA INT =NULL
AS
BEGIN
SELECT ct.MaNL,(nl.KLTon - (@SL*ct.KhoiLuong))AS NLCon
INTO #bang
FROM dbo.CT_CONGTHUC ct
JOIN dbo.CONGTHUCMA ctm ON ct.MaCT = ctm.MaCT
JOIN dbo.MONAN ma ON ma.MaMA = ctm.MaMA
JOIN dbo.NGUYENLIEU nl ON nl.MaNL=ct.MaNL
WHERE ma.MaMA =@MaMA
UPDATE dbo.NGUYENLIEU 
SET NGUYENLIEU.KLTon = b.NLCon 
FROM dbo.NGUYENLIEU nl 
JOIN #bang b ON b.MaNL = nl.MaNL
DROP TABLE #bang
END

GO
/****** Object:  StoredProcedure [dbo].[chuyen_ban]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[chuyen_ban] 
@BanChuyen int,
@BanDuocChuyen INT
AS BEGIN
	DECLARE @PD INT =NULL;
	SET @PD = (SELECT MaPD FROM dbo.BAN WHERE MaB=@BanChuyen)
	BEGIN
		UPDATE dbo.BAN SET MaPD = @PD,TinhTrang=N'Hết' WHERE MaB =@BanDuocChuyen
	END
	BEGIN
		UPDATE dbo.BAN SET MaPD = NULL,TinhTrang=N'Còn' WHERE MaB =@BanChuyen
	END
END
GO
/****** Object:  StoredProcedure [dbo].[gop_ban]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[gop_ban] 
@BanDHGop int =NULL,--1
@BanGop INT =NULL--10
AS
	DECLARE @PD INT = (SELECT MaPD FROM dbo.BAN WHERE MaB =@BanDHGop)
	DECLARE @PDXOA INT = (SELECT MaPD FROM dbo.BAN WHERE MaB =@BanGop)
BEGIN
	UPDATE dbo.BAN SET MaPD = NULL , TinhTrang =N'Còn' WHERE MaB = @BanGop
--kiểm tra ma món ăn có bị trùng nếu không trùng thì cập nhập phiếu đặt
--UPDATE dbo.CT_MONAN SET MaPD = @PD WHERE MaPD=@PDXOA
SELECT * 
INTO #Temp
FROM dbo.CT_MONAN 
WHERE MaPD = @PDXOA
DELETE dbo.CT_MONAN WHERE MaPD = @PDXOA
					 
While (Select Count(*) From #Temp) > 0
Begin
	IF((SELECT COUNT(*) FROM dbo.CT_MONAN ct WHERE ct.MaPD=@PD and  ct.MaMA =(SELECT TOP 1 MaMA FROM #Temp)) = 1)
	BEGIN
    UPDATE dbo.CT_MONAN SET SoLuong = (SoLuong +  (SELECT TOP 1 SoLuong FROM #Temp)) WHERE MaPD = @PD
	END
    ELSE
    BEGIN
	INSERT INTO dbo.CT_MONAN
	        ( MaMA, MaPD, SoLuong )
	VALUES  ( (SELECT TOP 1 MaMA FROM #Temp), -- MaMA - int
	          @PD, -- MaPD - int
	          (SELECT TOP 1 SoLuong FROM #Temp)  -- SoLuong - int
	          )
	END
	Delete #Temp Where MaMA = (SELECT TOP 1 MaMA FROM #Temp)
END
DROP TABLE #Temp
END


GO
/****** Object:  StoredProcedure [dbo].[huy_chuyen_ban]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[huy_chuyen_ban] 
AS
BEGIN
UPDATE dbo.BAN
SET TinhTrang = N'Còn'
WHERE
MaPD IS NULL
END

GO
/****** Object:  StoredProcedure [dbo].[su_kien_kich_vao_chuyen_ban]    Script Date: 6/12/2018 10:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE[dbo].[su_kien_kich_vao_chuyen_ban] 
@MaBan int =NULL
AS
BEGIN
UPDATE dbo.BAN
SET TinhTrang = N'Còn'
WHERE
MaPD IS NULL
UPDATE dbo.BAN
SET TinhTrang = N'Hết'
WHERE MaB=@MaBan
END

GO
USE [master]
GO


select * from chuyen_ban
SELECT * FROM BAN
SELECT * FROM CONGTHUCMA
SELECT * FROM CT_CONGTHUC
SELECT * FROM CT_DICHVU
SELECT * FROM CT_MONAN
SELECT * FROM CT_PHIEUGIAOHANG
SELECT * FROM CT_PHIEUNHAP
SELECT * FROM DICHVU
SELECT * FROM HOADON
SELECT * FROM KHACHHANG
SELECT * FROM KHUVUC
SELECT * FROM LOAIKH
SELECT * FROM LOAIPHONG
SELECT * FROM MANHINH
SELECT * FROM MONAN
SELECT * FROM NCC
SELECT * FROM NGUOIDUNG
SELECT * FROM NGUOIDUNGNHOMNGUOIDUNG
SELECT * FROM NGUYENLIEU
SELECT * FROM NHANVIEN
SELECT * FROM NHOMMA
SELECT * FROM NHOMNGUOIDUNG
SELECT * FROM PHANQUYEN
SELECT * FROM PHIEUDATMON
SELECT * FROM PHIEUDATVE
SELECT * FROM PHIEUGIAOHANG
SELECT * FROM PHIEUNHAP
SELECT * FROM PHONG

select * from KhachHang where tenKH like N'%Uyên%'
select * from PHIEUDATMON where MaKH=2
select * from PHIEUGIAOHANG where MaNV=1
execute chuyen_ban 8,9
execute huy_chuyen_ban
execute gop_ban 10,11
select * from ban
select * from ct_monan